.dashboard {
    @include basic-padding;
    h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .date-inputs {
        max-width: 350px;
        margin-bottom: 40px;
    }
    .mp-graph-content {
        margin-bottom: 70px;
    }
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
}