.dashboard {
    @include basic-padding;
    h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .date-inputs {
        width: 320px;
        margin-bottom: 40px;
    }
    .mp-graph-content {
        margin-bottom: 30px;
    }
    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .mp-button {
        margin-bottom: 70px;
    }
    @media (max-width: 850px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        .graphs {
            flex-direction: column;
        }
    }
    @media (max-width: 520px) {
        padding-right: 0;
        padding-left: 0;
    }
}